<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&family=Sora:wght@400;700&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   
    <link rel="stylesheet" href="/css/firstPage.css">
    <title>Little Saplings</title>
  </head>
  <body>
  <!--NAVBAR-->
    <nav class="navbar navbar-expand-lg py-3 sticky-top navbar-dark bg-dark">
  <div class="container">
    <a class ="navbar-brand" href="#">
      <img src="/img/logo.jpeg" alt="logo" style="width:50px;height:50px;">
    </a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#features">FEATURES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#blog">Soil EDU</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#test">DIAGNOSIS</a>
        </li> -->


        
      </ul>
    </div>
  </div>
</nav>

<!--HERO-->
<div class="hero vh-100 d-flex align-items-center">
  
  <div class="container">
    <div class="row">
      <div class="col-lg-7 mx-auto text-center">
        <h1 class="display-4 text-white">Little Saplings</h1>
        <h5 class="text-white my-3">
          Journey
        </h5>

        

        <!-- <p class="hero-subtitle"><span class="typed" data-typed-items="Hope, Life, Journey, Positive Energy"></span></p> -->

        <!-- <a href="#" class="btn me-3 btn-primary">Login</a>
        <a href="#" class="btn btn-outline-light">Register</a> -->
      <form action="" method="get">
        <button type="submit" class="btn btn-dark btn-lg download-button" formaction="/logIn">Login</button>
        <button type="submit" class="btn btn-outline-light btn-lg download-button" formaction="/register">Register</button>

      </form>
      </div>
    </div>

  </div>
</div>

<!--FEATURES-->

<section id="features">
  <div class="container">
      <div class="row mb-5">
          <div class="col-md-8 mx-auto text-center">
              <h1>FEATURES</h1>
          </div>
      </div>
      <div class="row text-center g-4">
          <div class="col-lg-4 col-sm-6">
              <div class="feature card-effect" id="joinCommunityFeature" style="cursor: pointer;">
                  <img src="/img/img1.jpeg" alt="">
                  <h4 class="mb-0 mt-4">JOIN COMMUNITY</h4>
                  <p>Join the Community,Know more about plants,Prosper the Future</p>
                  <h5>Things get easy when you work TOGETHER</h5>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6">
              <div class="feature card-effect" onclick="scrollToTestPlants()" style="cursor: pointer;">
                  <img src="/img/img2.jpeg" alt="">
                  <h4 class="mb-0 mt-4">DISCOVER YOUR PLANT</h4>
                  <p>Know in detail ,plant with more specific Experience ,Divine your day</p>
                  <h5>Plant me once ,I will Plant many lives</h5>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6">
              <div class="feature card-effect">
                <img src="/img/img3.jpeg" alt="">
                <h4 class="mb-0 mt-4">KNOW YOUR PLANT CONDITION</h4>
                <p>Notice issues, and Bloom despite setbacks.</p>
                <h5>If a tree dies ,Plant another in its place</h5>
            </div>
          </div>
      </div>
  </div>
</section>

    <!-- ======= Soil edu Section ======= -->
    <section id="blog" class="blog-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                Soil Education
              </h3>
              <p class="subtitle-a">
                Know your soil - know you
              </p>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="card card-blog">
              <div class="card-img">
                <img src="/img/loamy.jpeg" alt="" class="img-fluid" >
              </div>
              <div class="card-body">
                <div class="card-category-box">
                  <div class="card-category">
                    <h6 class="category">Loamy Soil</h6>
                  </div>
                </div>
                
                <p class="card-description">
                  It is a combination of sand, silt and clay such that the beneficial properties of each are included. For instance, it has the ability to retain moisture and nutrients; hence, it is more suitable for farming.
                </p>
              </div>
              
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-blog">
              <div class="card-img">
                <img src="/img/clay.jpeg" alt="" class="img-fluid">
              </div>
              <div class="card-body">
                <div class="card-category-box">
                  <div class="card-category">
                    <h6 class="category">Clay Soil</h6>
                  </div>
                </div>
                <p class="card-description">
                  The particles in this soil are tightly packed together with each other with very little or no airspace. This soil has very good water storage qualities and makes it hard for moisture and air to penetrate into it.
                </p>
              </div>
              
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-blog">
              <div class="card-img">
                <img src="/img/slit.jpeg" alt="" class="img-fluid">
              </div>
              <div class="card-body">
                <div class="card-category-box">
                  <div class="card-category">
                    <h6 class="category">Slit Soil</h6>
                  </div>
                </div>
                
                <p class="card-description">
                 It is the smooth and fine quality of the soil that holds water better than sand.  Silt is easily transported by moving currents and it is mainly found near water bodies.Silt is created when rock is eroded, by water and ice.
                </p>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </section><!-- End soil edu Section -->



    <section class="blog_w3ls py-3 pb-5 pt-10" id="test">
      <div class="container pb-xl-5 pb-lg-3">
        <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3"> Test Your Plants</h3>
        <div class="row" style="justify-content: center;">
          <form action="http://localhost:5000/predict" method="POST" enctype= 'multipart/form-data'>
            <div class="form-group text-center">
              <label for="exampleFormControlFile1" style="color: black;"><b>Input a file</b></label>
              <input type="file" name="file" class="form-control-file" id="inputImage" onchange=previewImage(event)
                required>
                
              <br />
              <button class="btn btn-primary" type="submit"> Predict </button>
            </div>
          </form>
        </div>
        <img id="output-image" class="rounded mx-auto d-block" />
        <br />
      </div>
  
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/typed.js/typed.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>


    
  </body>
</html>